<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
</head>
<body>
<div id="container">
<h1>Add a new product</h1>
<form action="/products/new" method="POST">
		<label for="name">Name</label>
		<input type="text" name="name" />
		</br>
		<label for="description">Description</label>
		<input  type="text" name="description"/>
		</br>
		<label for="price">Price</label>
		<input  type="text" name="price"/>
		</br>
		<input id="button" type="submit" value="Create">
		</form>
<a href ="/">Go back</a>
</div>
</body>
</html>